
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#06182f;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:20px;

}

.card{

width:390px;

border-radius:25px;

overflow:hidden;

background:#0b2348;

color:#fff;

box-shadow:0 0 30px rgba(0,183,255,.45);

border:2px solid #18d7ff;

}

/* HEADER */

.header{

display:flex;

align-items:center;

padding:18px;

background:linear-gradient(90deg,#012d6b,#0f65d8);

}

.logo{

width:60px;

height:60px;

border-radius:50%;

background:#fff;

padding:5px;

margin-right:15px;

}

.title h1{

font-size:22px;

}

.title span{

font-size:13px;

color:#ffd54f;

letter-spacing:1px;

}

/* STUDENT */

.student{

display:flex;

padding:20px;

}

#studentPhoto{

width:110px;

height:140px;

object-fit:cover;

border-radius:12px;

border:3px solid cyan;

background:#fff;

}

.details{

margin-left:18px;

display:flex;

flex-direction:column;

justify-content:center;

}

.details h2{

font-size:22px;

margin-bottom:10px;

color:#fff;

}

.details p{

margin:6px 0;

font-size:15px;

}

/* QR */

.qr-area{

display:flex;

justify-content:center;

padding:15px;

}

#qrcode{

width:180px;

height:180px;

background:#fff;

padding:10px;

border-radius:12px;

}

/* STATUS */

.status{

display:flex;

justify-content:space-around;

padding:18px;

}

.status div{

padding:10px 22px;

border-radius:30px;

font-weight:bold;

}

#paymentStatus{

background:#ff9800;

}

#accessStatus{

background:#16c60c;

}
