*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#04162d;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

/* CARD */

.card{
position:relative;
width:390px;
background:linear-gradient(180deg,#0d2f63,#071b38);
border-radius:28px;
overflow:hidden;
border:2px solid #1fd9ff;
box-shadow:0 0 25px rgba(0,180,255,.5);
color:#fff;
}

/* Background Glow */

.bg-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:
radial-gradient(circle at top right,
rgba(0,255,255,.25),
transparent 40%),
radial-gradient(circle at bottom left,
rgba(0,100,255,.20),
transparent 40%);
z-index:0;
}

/* Header */

.header{
position:relative;
z-index:1;
display:flex;
align-items:center;
padding:18px;
background:linear-gradient(90deg,#013b83,#0d6efd);
border-bottom:1px solid rgba(255,255,255,.2);
}

.logo{
width:60px;
height:60px;
background:#fff;
border-radius:50%;
padding:5px;
margin-right:15px;
}

.academy h1{
font-size:22px;
font-weight:bold;
}

.academy span{
display:block;
color:#ffd54f;
font-size:13px;
margin-top:2px;
}

.academy small{
color:#ddd;
font-size:12px;
}

/* Student Section */

.top-section{
position:relative;
z-index:1;
display:flex;
padding:20px;
}

.photo-box{
width:120px;
height:150px;
border-radius:18px;
background:#fff;
padding:5px;
border:3px solid #19d7ff;
box-shadow:0 0 15px rgba(0,255,255,.4);
}

.photo-box img{
width:100%;
height:100%;
object-fit:cover;
border-radius:12px;
}

.student-details{
flex:1;
padding-left:18px;
display:flex;
flex-direction:column;
justify-content:center;
}

.student-details h2{
font-size:22px;
margin-bottom:12px;
color:#fff;
}

.student-details p{
font-size:14px;
margin:7px 0;
line-height:1.5;
}

.student-details i{
color:#00e5ff;
margin-right:6px;
width:20px;
}

/* QR */

.qr-section{
position:relative;
z-index:1;
padding:18px;
text-align:center;
}

.qr-section h3{
color:#ffd54f;
margin-bottom:12px;
letter-spacing:1px;
}

#qrcode{
width:190px;
height:190px;
margin:auto;
background:#fff;
padding:10px;
border-radius:18px;
border:4px solid #19d7ff;
box-shadow:0 0 20px rgba(0,255,255,.4);
}
